<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to I18n.t(:medias), medias_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:edit)} #{@media.title}", edit_media_path(@media), :class => "nav-link active" %>
  </li>
</ul>
<br/>
<%= render 'form', media: @media %>
