<%= link_to I18n.t(:new), new_media_path, :class => "btn btn-primary", :style => "float:right;" %>
<br/><br/><br/>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to I18n.t(:medias), medias_path, :class => "nav-link active" %>
  </li>
</ul>

<% if @medias.empty? %>
  <br/>
  <h3>Nenhuma Media</h3>
<% else %>

  <br/>
  <div style="overflow-x:auto;">
    <table id="dataTable-el" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>Title</th>
          <th>Media Type</th>
          <th>Download</th>
          <th>Published</th>
          <% if user_signed_in? %><th class="list-control"></th><th class="list-control"></th><% end %>
        </tr>
      </thead>

      <tbody>
        <% @medias.each do |media| %>
        <tr>
          <!-- <td scope="row"><%= link_to image_tag(media.file.url(:thumb), :width => "120", :height => "120"), media_path(media) %></td> -->
          <td><%= link_to truncate(media.title, length: 128), media_path(media) %></td>
          <td><%= media.media_type %></td>
          <td><%= link_to 'Download', media.file.url if media.file? %></td>
          <td><%= media.created_at %></td>

          <% if user_signed_in? %>
            <% if current_user.admin? or media.user.id == current_user.id %>
              <td><%= link_to t(:edit), edit_media_path(media), :class => 'btn btn-sm btn-success' %></td>
              <td><%= link_to t(:destroy), media_path(media), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <script>$(document).ready(function(){ dataTables(); });</script>
<% end %>

