<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to I18n.t(:medias), medias_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:new), new_media_path, :class => "nav-link active" %>
  </li>
</ul>

<br/>

<%= render 'form', media: @media %>
