<%= link_to I18n.t(:new), new_media_path, :class => "btn btn-primary", :style => "float:right;" %>
<br/><br/><br/>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to I18n.t(:medias), medias_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @media.title, media_path(@media.id), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <center>
      <h3><%= @media.title %></h3>
      <%= link_to 'Download', @media.file.url if @media.file?%>

      <br/><br/>
      <%= "<strong>Media Type:</strong><br/>#{@media.media_type}&nbsp;".html_safe if @media.media_type? %>
      <%= "<br/><br/><strong>Description:</strong><br/>#{@media.description}&nbsp;".html_safe if @media.description? %>
      <%= "<br/><br/><strong>Author:</strong><br/>#{@media.author}&nbsp;".html_safe if @media.author? %>
      <%= "<br/><br/><strong>#{I18n.t(:responsable)}:</strong><br/>#{link_to @media.user.name, user_path(@media.user)}&nbsp;".html_safe if @media.user.name?%>

    </center>
    </div>
</div>

<% if user_signed_in? %>
  <% if current_user.admin? or current_user.id == @media.user.id %>        
    <br/><br/>
    <div class="form-actions">
      <%= link_to t('.edit', :default => "Editar"), edit_media_path(@media), :class => 'btn btn-success' %>
      <%= link_to t(:destroy), media_path(@media), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>
