<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), users_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:edit)} #{@user.name}", edit_user_path(@user), :class => "nav-link active" %>
  </li>
</ul>
<br/>
<%= render 'form', user: @user %>
