<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), users_path, :class => "nav-link active" %>
  </li>
</ul>

<% if @users.empty? %>
  <br/>
  <h3>Nenhum Usuário Registrado</h3>
<% else %>

  <br/>
  <div style="overflow-x:auto;">
    <table id="dataTable-el" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <th>Nome</th>
          <th>E-Mail</th>
          <% if user_signed_in? %><th class="list-control"></th><th class="list-control"></th><% end %>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td scope="row"><%= link_to image_tag(user.photo.url(:thumb), :width => "100", :height => "100"), user_path(user) %></td>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= truncate(user.email, length: 64) %></td>
          <% if user_signed_in? %>
            <% if current_user.admin? or user.id == current_user.id %>
                <td><%= link_to t(:edit), edit_user_path(user), :class => 'btn btn-sm btn-success' %></td>
                <% if current_user.admin? %>
                  <td><%= link_to t(:destroy), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' if user.id != 1 %></td>
                <% end %>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <script>$(document).ready(function(){ dataTables(); });</script>
<% end %>
