<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), users_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @user.name, user_path(@user.id), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <center>
      <%= image_tag(@user.photo.url(:medium), :width => "150") %>

      <br/><br/>
      <h3><%= @user.name %></h3>

      <br/>
      <%= "<strong>E-Mail:</strong><br/>#{@user.email}&nbsp;".html_safe if @user.email?%>
    </center>
  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.admin? or current_user.id == @user.id %>        
    <br/><br/>
    <div class="form-actions">
      <%= link_to t('.edit', :default => "Editar"), edit_user_path(@user), :class => 'btn btn-success' %>
      <% if current_user.admin? %>
        <%= link_to t(:destroy), user_path(@user), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' if @user.id != 1 %>
      <% end %>
    </div>
  <% end %>
<% end %>
