    <br/><br/><br/><br/><br/><br/><br/>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <%= link_to I18n.t(:estudiolivre_is_free_software), "https://gitlab.com/marcelo-soares-souza/estudiolivre", :target => "_blank" %>
        </span>
      </div>
    </footer>
