  <script>
    $(document).ready(function() {
      $("#locale").val("<%= locale %>");
    });
  </script>

  <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to(image_tag("estudiolivre-small.png", :width => "150"), root_path, :class => "nav-link", :target => "_blank") %>
          </li>

          <li class="nav-item"><br/>
            <%= link_to(I18n.t(:about), root_path, :class => "nav-link") %>
          </li>

          <li class="nav-item"><br/>
            <%= link_to(I18n.t(:medias), medias_path, :class => "nav-link") %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to("#{I18n.t(:logout)}", destroy_user_session_path, :method => :delete, :class => "nav-link") %>
            </li>

            <li class="nav-item">
              <%= link_to "(#{current_user.email})", user_path(current_user), :class => "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to(I18n.t(:login), new_user_session_path, :class => "nav-link") %>
            </li>
            <li>
              <strong><%= link_to I18n.t(:register), new_user_registration_path, :class => "nav-link text-danger" %></strong>
            </li>

          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <select id="locale" onchange="if (this.value) window.location.href='/?locale=' + this.value" class="form-control">
                <option value="pt-BR">Português</option>
                <option value="es">Español</option>
                <option value="en">English</option>
              </select>
            </li>
          </ul>
        </ul>

      </div>
    </nav>
